.pesquisa-container {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: var(--lightgray-color);
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    width: 250px;
    overflow-y: auto;
    z-index: 1;
  }
  
  .dropdown li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }