.campo-projeto {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.campo-projeto label {
  font-weight: bold;
  width: 418px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.campo-projeto span {
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  border: none;
  background-color: var(--lightgray-color);
}

.botao-voltar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin-top: var(--padding-input);
  padding: 12px;
  align-items: center;
  border: none;
  border-radius: var(--padding-input);
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
}

.botao-voltar:hover {
  background-color: var(--blue-color);
}

.botao-voltar .icone {
  margin-right: 10px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}

.background2,
#fundo {
  background:
    linear-gradient(rgba(217, 217, 217, 0.9), rgba(217, 217, 217, 0.9)),
    url(/src/pages/portalTransparencia/static/img/fundo.png) no-repeat center center;
  background-color: #D9D9D9E5;
  padding: var(--padding-global);
  width: auto;
  height: 100px;
}

.fundo {
  padding-left: 20px;
}
.main-conteiner-auth {
  padding-top: 24px;
  
}
.background2 h1 {
  display: flex;
  align-items: center;
  gap: 10vh;
  padding-left: 1vh;
}
.anexos a{
  color: var(--blue-color);
}


.tabs2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
  margin-top: 32px;
}

.tab2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex: 1;
  text-align: center;
  color: #000;
  transition: color 0.3s;
  padding-bottom: 8px;
  box-shadow: none;
  
}

.tab2:hover {
  color: var(--blue-color);
}

.tab2.active {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
  box-shadow: none;
}

button {
  box-shadow: none !important;
}

.anexos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.MainDadoss{
  padding-bottom: 12px;
}
.button-container {
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  gap: 20px;
}
.buttons {
  background-color: var(--blue-color);
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.5s; 
}

.buttons:hover {
  background-color: rgb(5, 5, 93); 
}

.buttons:disabled {
  background-color: lightgray;
  cursor: not-allowed; 
}

.delete-buttons {
  background-color: red;
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.5s; 
}

.delete-buttons:hover {
  background-color: rgb(165, 3, 3);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding-top: 20px;
  font-size:large;
  width: 425px;
  height: 240px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border-radius: 5px;
}

.modal-content button {
  margin: 10px;
  margin-top: 50px;
}
.background-projects{
  padding-left: 50px;
}