.document-view p {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--lightgray-color);
    overflow: hidden;
    padding: 12px;
}

.document-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}
.document-view {
  
    width: 100%;
  
  }
.add-anexo input[type="file"] {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--lightgray-color);

}

