.MainDados {
    padding: 20px;
}


.background-drafts {
    background-color: var(--white-color);
    border-radius: var(--padding-input);
    box-shadow: 2px 2px 2px #bebebe, -2px -2px 6px var(--white-color);
    padding: 20px;
}


.ReferenciasRascunho, .Projeto {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid var(--lightgray-color);
    padding: var(--padding-input);   
}


.pagination {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.Projeto p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}


.Referencias_Responsivo {
    display: none;
}


@media (max-width: 768px) {
    .Referencia {
        display: none;
    }

    .Referencias_Responsivo {
        font-weight: bold;
        display: inline;
    }

    .Projetos_Responsivo {
        display: flex;
        flex-direction: column;
    }

    .Rascunhos p {
        text-align: start;
    }    

    .pagination {
        display: flex;
        flex-direction: center;
        padding-right: 40px;
    }
}
