.page {
  width: 100%;
}

.tabs3 {
  display: flex;
  justify-content: space-between;
}

.tab3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex: 1;
  text-align: center;
  color: #000;
  transition: color 0.3s;
  box-shadow: none;
  color: var(--gray-color);
  border-bottom: 2px solid var(--gray-color);
  padding-bottom: 4px;
}


.tab3:hover {
  color: var(--blue-color);
}

.tab3.active {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
  box-shadow: none;

}
.titulo h1 {
  font-weight: 700;
  size: 24px;
  padding-top: 8vh;
}

/* Página do Coordenador */

  .coordenador .container-secundario{
    margin: 32px 0;
    border: 1px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .mainDadosMobile {
    flex-grow: 1;
    margin-top: 50px;
  }
  

  @media (max-width: 768px) {
    .container-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    
  }

  .export-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .export-buttons button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .export-buttons button:hover {
    background-color: #0056b3;
  }
  