.page {
  width: 100%;
}

.tabs3 {
  display: flex;
  justify-content: space-between;
}

.tab3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex: 1;
  text-align: center;
  color: #000;
  transition: color 0.3s;
  box-shadow: none;
  color: var(--gray-color);
  border-bottom: 2px solid var(--gray-color);
  padding-bottom: 4px;
}


.tab3:hover {
  color: var(--blue-color);
}

.tab3.active {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
  box-shadow: none;

}

button {
  box-shadow: none !important;
}

.titulo h1 {
  font-weight: 700;
  size: 24px;
  padding-top: 8vh;
}

/* Página do Coordenador */

  .coordenador .container-secundario{
    margin: 32px 0;
    border: 1px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  /*  Loading provisório  */
  .Loading {
    width: 162vh;
    margin: 3vh 3vh;
    padding: 32px;
    border: 1px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 3px 3px rgba(114, 113, 113, 0.1);
    display: flex;
    justify-content: space-evenly;
  }
  
  .spinner-3 {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: s3 1s infinite steps(12);
  }
  .spinner-3::before,
  .spinner-3::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .spinner-3::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  
  @keyframes s3 {
    100% {transform: rotate(1turn)}
  }

  .AllContent {
    flex-grow: 1;
    margin-top: 50px;
  }
  
  .MainDadosAuth {
    display: flex;
  }

  @media (max-width:500px) {
    .testeteste {
        margin-left: 0;
    }
}