h2 {
    color: var(--blue-color);
    font-size: 30px;
    margin: var(--padding-tops);
}

p {
    text-align: justify;
}

header.headerPortal {
    background: 
        linear-gradient(rgba(217, 217, 217, 0.9), rgba(217, 217, 217, 0.9)), 
        url(./static/img/fundo.png) no-repeat center center;
    background-color: #D9D9D9E5;
    padding: var(--padding-input);
}

.headerPortal nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerPortal nav div {
    display: flex;
    align-items: center;
}


.headerPortal div h1 {
    color: var(--blue-color);
    font-size: 20px;
    margin-left: 20px;
}

.headerPortal section p {
    color: var(--gray-color);
    font-size: 17px;
    line-height: 1.5;
}

/* FILTRO DE PROJETOS */
.MainDados {
    margin-top: 50px;
    margin-bottom: 50px;
}

.MainDados h2 {
    margin-left: 16px;
}

.MainDados form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    margin-left: 16px;
}

.MainDados form div {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-bottom: var(--padding-input);
}

.MainDados form label {
    color: var(--gray-color);
    font-size: 17px;
    margin-right: var(--padding-input);
}

.MainDados form select {
    width: 220px;
    padding: 8px;
    border: 1px var(--gray-color) solid;
    border-radius: 5px;
}

.MainDados form input {
    width: 220px;
    padding: 8px;
    padding-left: 14px;
    border: 1px var(--gray-color) solid;
    border-radius: 5px;
}

.MainDados form button {
    width: 450px;
    padding: 8px;
    border: 1px var(--gray-color) solid;
    border-radius: 5px;
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
}   

/* PROJETOS */
.Referencias {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px var(--gray-color) solid;
    padding: var(--padding-input);
}

.Projetos {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px var(--gray-color) solid;
    color: var(--gray-color);
    padding: var(--padding-input);

}

.Projetos p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.Projetos img {
    cursor: pointer;
}