h2 {
    color: var(--blue-color);
    font-size: 30px;
    margin: 20px 0;
}

header.headerPortal {
    background: 
        linear-gradient(rgba(217, 217, 217, 0.9), rgba(217, 217, 217, 0.9)), 
        url(./static/img/fundo.png) no-repeat center center;
    background-color: #D9D9D9E5;
    padding: 30px;
}

.headerPortal nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.headerPortal nav div {
    display: flex;
    align-items: center;
}


.headerPortal div h1 {
    margin-left: 30px;
    color: var(--blue-color);
    font-size: 20px;
}

.headerPortal section p {
    color: var(--gray-color);
    font-size: 16px;
    margin: 20px 0;
}

main {
    padding: 30px;
}