/* Estilos padrão */
.MainDados {
    padding: 20px;
}

/* .background-projects {
    background-color: var(--white-color);
    border-radius: var(--padding-input);
    box-shadow: 2px 2px 2px #bebebe, -2px -2px 6px var(--white-color);
    padding: 20px;
} */

.ReferenciasBolsistas, .Bolsistas {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid var(--lightgray-color);
    padding: var(--padding-input);
}

.Bolsistas p {
    color: var(--gray-color);
    white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
    overflow: hidden; /* Oculta o texto que ultrapassa o container */
    text-overflow: ellipsis; /* Adiciona "..." no final do texto cortado */
    max-width: 100%; /* Garante que o texto não ultrapasse o limite */
}

.pagination {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.ReferenciasBolsistas_Responsivo {
    display: none;
}



@media (max-width: 768px) {
    .ReferenciasBolsistas {
        display: none;
    }

    .ReferenciasBolsistas_Responsivo {
        font-weight: bold;
        display: inline;
    }

    .Bolsistas_Responsivo {
        display: flex;
        flex-direction: column;
    }

    .Bolsistas p {
        text-align: start;
    }    
}
