.campo-bolsistas {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.campo-bolsistas label {
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 6px;
}
.campo-bolsistas span {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--lightgray-color);
  overflow-wrap: break-word;
}
.campo-bolsistas input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--lightgray-color);
  overflow-wrap: break-word;
}
.main-conteiner-auth {
  padding-top: 50px;
  padding-left: 270px;
  padding-right: 40px;
}

@media (max-width: 970px) {
  .button-container {
    min-width: none;
  }
}

@media (max-width: 768px) {
  .campo-bolsistas span {
    width: auto;
  }
  .main-conteiner-auth{
    padding: 20px;
    padding-top: 128px;
  }
 
}

@media (max-width: 480px) {
 
  .campo-bolsistas label, .campo-bolsistas span {
    font-size: 14px;
  }
}
