.PopUpHistoryChanges h2 {
    text-align: center;
}

.PopUpHistoryChanges h3 {
    font-size: 22px;
    color: var(--black-color);
    border-top: 1px solid var(--blue-color);
    padding: 16px 0;
}

h3::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: var(--black-color);
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle; /* Alinha verticalmente com o texto */
}
.CloseButton, .buttonDownload{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    border-radius: var(--border);
    width: 45px;
    height: 45px;
    user-select: none;
    background-color: var(--lightgray-color);
    color: var(--blue-color);
    border: none;
}

.PopUpHistoryChanges {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%; /* Deixa a altura adaptável sem limitar */
    background-color: rgba(128, 128, 128, 0.397);
    border-radius: var(--padding-input);
    box-shadow: 2px 2px 2px 2px #bebebe;
    margin: auto;
    padding: 20px 150px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto; 
}

.BackgroundChanges {
    background-color: var(--white-color);
    border-radius: var(--padding-input);
    box-shadow: 2px 2px 2px 2px #bebebe;
    width: 100%;
    padding: 20px;
}

.ChangesContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.ChangesContent p {
    font-size: 24px;
    color: var(--blue-color);
    margin: 5px 0;
}

.Change {
    width: 100%;
}

.Values p:nth-child(odd) {
    font-size: 20px;
    color: var(--blue-color);
    font-weight: bold;
}

.Values p:nth-child(even) {
    font-size: 16px;
    color: black;
    font-weight: 700;
    background-color: var(--lightgray-color);
    padding: var(--padding-input);
    border-radius: 10px;
    word-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
}

.ChangesDate p {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
}