.titulo h1 {
    font-weight: 700;
    size: 24px;
    padding-top: 8vh;
    margin-bottom: 64px;
}


.title-form {
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
}

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  .files{
    gap: 20px;
    height: 40px;
    padding: 8px;
    background-color: var(--lightgray-color);
    border-radius: var(--padding-input);
    border: none;
  }

.user {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: 64px;
  background: white;
  padding: 32px;
  border-radius: 12px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  gap: 32px;
}

.modal-content button {
  padding: 12px;
  align-items: center;
}
.modal-button{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

